---
import "@fontsource/rubik"
import Hero from "../components/Hero.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Neil Smith | JavaScript Engineer</title>
  </head>
  <body class="bg-beige h-screen">
    <a href="#main" class="sr-only focus:not-sr-only">Skip to main content</a>
    <Hero />
    <main id="main" class="relative bg-brown">
      <div class="bg-border bg-repeat-x absolute w-full h-10 -top-6"></div>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
      <p class="text-4xl">idk asdfasdf asdf asdf sadf asdfsadf sadfsadf</p>
    </main>
  </body>
</html>

<style is:global>
  /* html {
    font-family: "Lalezar", Bahnschrift, "DIN Alternate",
      "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed,
      sans-serif;
  } */
</style>
