---
import ButtonLink from "./ButtonLink.astro"
---

<header class="relative">
  <div
    class="text-brown flex flex-col md:flex-row md:container md:mx-auto lg:h-[80vh] after:absolute after:left-0 after:bottom-0 after:w-full after:bg-hero-border after:h-[30px] after:bg-repeat-x after:z-40 xl:px-12"
  >
    <div
      class="flex z-40 flex-col gap-16 h-full justify-center py-24 lg:w-[50%] xl:w-[42%] 2xl:w-[38%]"
    >
      <div
        class="relative flex flex-col-reverse after:absolute after:h-[3px] after:w-20 after:bg-brown after:-bottom-8"
      >
        <h1 class="uppercase text-9xl font-black font-standout leading-none">
          Neil Smith
        </h1>
        <span class="uppercase text-4xl font-standout leading-none"
          >Web Engineer</span
        >
      </div>
      <div class="flex flex-col gap-4">
        <p class="text-lg">
          Hello! I'm a full-stack engineer with a passion for creating beautiful
          websites. I specialize in using modern web technologies to bring
          designs to life and create engaging user experiences.
        </p>
        <p class="text-lg">
          From small business websites to complex web applications, I strive to
          deliver high-quality work that exceeds my clients' expectations. Take
          a look at my portfolio and feel free to contact me to discuss your
          next project.
        </p>
      </div>
      <div class="flex gap-8">
        <ButtonLink href="#" type="primary">A button</ButtonLink>
        <ButtonLink href="#" type="secondary">A button</ButtonLink>
      </div>
    </div>
    <div
      class="hidden md:block absolute z-30 right-0 bottom-0 w-[56%] xl:w-[60%] 2xl:w-[62%] 2xl:left-[44%] 2xl:right-auto"
    >
      <img
        class="z-20 absolute bottom-0 left-0"
        src="/portrait-cartoon-02-849.png"
      />
    </div>
  </div>
</header>
