---
---

<div class="text-brown relative lg:h-[60vh] md:container md:mx-auto">
  <div class="h-full flex flex-col justify-end gap-12 py-16 lg:w-[50%]">
    <div
      class="relative flex flex-col-reverse mb-12 after:absolute after:bg-brown after:h-[3px] after:w-24 after:left-0 after:-bottom-12"
    >
      <h1 class="uppercase text-8xl font-extrabold font-heading leading-none">
        Neil Smith
      </h1>
      <span class="text-3xl font-semibold font-heading leading-none"
        >Web Engineer</span
      >
    </div>
    <p class="text-lg lg:w-3/4 2xl:w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nis I vitae
      inventore maiores nesciunt. Lorem ipsum dolor sit amet. Nisi vitae
      inventore maiores nesciunt
    </p>
    <div class="flex gap-8">
      <a href="#">A button</a>
      <a href="#">A button</a>
    </div>
  </div>
  <img
    class="hidden lg:block absolute max-h-[80vh] z-50 top-0 left-[34%] xl:max-h-[86vh]"
    src="/hero-splash-01.png"
  />
</div>
