---
---

<div class="text-brown relative lg:h-[54vh] lg:container lg:mx-auto">
  <div class="h-full flex flex-col justify-end gap-12 py-16 lg:w-[50%]">
    <div
      class="relative flex flex-col-reverse mb-12 after:absolute after:bg-brown after:h-[3px] after:w-24 after:left-0 after:-bottom-12"
    >
      <h1 class="uppercase text-8xl font-extrabold font-heading leading-none">
        Neil Smith
      </h1>
      <span class="text-3xl font-semibold font-heading leading-none"
        >Web Engineer</span
      >
    </div>
    <p class="text-lg lg:w-3/4 2xl:w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nis I vitae
      inventore maiores nesciunt. Lorem ipsum dolor sit amet. Nisi vitae
      inventore maiores nesciunt
    </p>
    <div class="flex gap-8">
      <a href="#">A button</a>
      <a href="#">A button</a>
    </div>
  </div>
  <img
    class="hidden lg:block absolute max-h-[80vh] z-50 top-0 left-[40%]"
    src="/hero-splash-01.png"
  />
</div>

<!-- <div class="2xl:container 2xl:mx-auto flex flex-col lg:flex-row">
  <div class="border border-pink-500 lg:w-[40%]">left/top</div>
  <div class="border border-orange-500 relative lg:w-[60%]">
    <img
      class="z-50 absolute top-0 left-0 2xl:max-w-none 2xl:w-[120%]"
      src="/hero-splash-01.png"
    />
  </div>
</div> -->

<!-- <div class="relative aspect-[16/7] max-h-[70vh]">
  <div class="border border-pink-500 h-full w-[40%]"></div>
  <div class="z-50 absolute top-0 right-0 w-[60%]">
    <img class="" src="http://via.placeholder.com/1200x1200" />
  </div>
</div> -->

<!-- <div class="text-brown container mx-auto">
  <div class="flex flex-col justify-center gap-12 py-16">
    <div
      class="relative flex flex-col-reverse mb-12 after:absolute after:bg-brown after:h-[3px] after:w-24 after:left-0 after:-bottom-12"
    >
      <h1 class="uppercase text-8xl font-extrabold font-heading leading-none">
        Neil Smith
      </h1>
      <span class="text-3xl font-semibold font-heading leading-none"
        >Web Engineer</span
      >
    </div>
    <p class="text-lg lg:w-3/4 2xl:w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nis I vitae
      inventore maiores nesciunt. Lorem ipsum dolor sit amet. Nisi vitae
      inventore maiores nesciunt
    </p>
    <div class="flex gap-8">
      <a href="#">A button</a>
      <a href="#">A button</a>
    </div>
  </div>
  <div class="">
    <img class="" src="http://via.placeholder.com/1023x1200" />
  </div>
</div> -->
